.Get-started {
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 5rem 0;
    background: linear-gradient(to right, rgb(174,103,250), rgb(236,146,121));
}
.Get-started h3 {
    font-size: 24px;
    margin-top: 1rem;
    font-weight: 700;
}
.Get-started p {
    font-size: 12px;
}
.Get-started a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-weight: 700;
}
 .library_h1 {
    background: linear-gradient(to right, rgb(174,103,250), rgb(236,146,121));
    background-clip: text;
    color: transparent;
    font-size: 62px;
    font-weight: 800px;

}
@media screen and (max-width: 600px) {
    .Get-started {
        padding: 20px;
        flex-direction: column;
        margin: 2.5rem 0;
    }
    .Get-started h3 {
        font-size: 20px;
        margin-top: 1rem;
        font-weight: 700;
    }
    .Get-started p {
        font-size: 15px;
    }
    .Get-started a {
        margin-top: 1rem;
                }
     .library_h1 {
        background: linear-gradient(to right, rgb(174,103,250), rgb(236,146,121));
        background-clip: text;
        color: transparent;
        font-size: 62px;
        font-weight: 800px;
    
    }
}